Source: breeze-gtk
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.2),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.17.0~),
               gtk2-engines-pixbuf,
               kio-dev,
               libglib2.0-dev,
               libkf5archive-dev,
               libkf5configwidgets-dev,
               libkf5i18n-dev,
               libkf5iconthemes-dev,
               libkf5kcmutils-dev,
               libkf5newstuff-dev,
               pkg-kde-tools (>= 0.15.16),
               qtbase5-dev
Homepage: https://projects.kde.org/projects/kde/workspace/breeze-gtk
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/breeze-gtk.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/breeze-gtk.git
Standards-Version: 3.9.6

Package: gtk3-engines-breeze
Architecture: any
Depends: gtk2-engines-pixbuf, ${misc:Depends}, ${shlibs:Depends}
Description: GTK theme built to match KDE's Breeze
 A GTK Theme Built to Match KDE's Breeze. Widget theme for GTK 2 and 3.
